{% extends 'base.html' %}

{% block body %}
<main role="main">
    <article id="profile-info">
        <div class="grey-block ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-40px text-center">
            <form method="POST">
                <div class="d-flex flex-column g-30">
                    <!-- отображение сообщений -->
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                        {%if category == 'error'%}
                            <div class="alert alert-danger alert-dismissable fade show" role="alert">
                            {{message}}
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                        {%else%}
                            <div class="alert alert-success alert-dismissable fade show" role="alert">
                            {{message}}
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                        {%endif%}
                        {%endfor%}
                    {% endif %}
                    {%endwith%}

                    <section id='form-title' height="70px">
                    <h1>{%block BODY_form_heading %}{%endblock%}</h1>

                    {%block BODY_form_exit%}
                    <a href="/">
                        <img id='exit-button' src="../../static/img/icons/standart/cross.png" height="50px" width="50px"
                        style="position:absolute; right:0px">
                    </a>
                    {%endblock%}
                    <!-- можно попасть в бесконечный цикл при регистрации -->
                    <!-- <a onclick="window.location.href = document.referrer">
                        <input id='exit-button' type="image" src="../../static/img/icons/standart/cross.png" onclick="window.location.href='index.html';" height="50px" width="50px" >
                    </a> -->
                    </section>
                    {%block BODY_form_fields%}
                    {%endblock%}
                </div>
            </form>
        </div>
    </article>
</main>
{%endblock%}