<section id="comment-1">
    <div class="comm-box ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
      <div class="d-flex flex-column">
        <div class="comm-up">
          <div class="comm-square good-mark">
            <span>7</span>
          </div>
        </div>
        <div class="comm-main">
          Ходили с 3 детьми на экскурсию. <br>
          С женой не в восторге. <br>
          Поставили бы меньше, но но детям очень понравилось.
        </div>
        <div class="comm-photo">
          <div class="comm-photo-flex"></div>
        </div>
        <div class="comm-low">
          <div class="comm-info-flex">
            <div class="comm-user">
              <div class="comm-user-img-container">
                <img src="../../../static/img/icons/default_av.png" class="comm-user-img">
              </div>
              <div class="comm-date-container">
                <span>guy</span>
              </div>
            </div>
            <div class="comm-date">
              <span>12 марта 2024</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="comment-2">
    <div class="comm-box ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
      <div class="d-flex flex-column">
        <div class="comm-up">
          <div class="comm-square bad-mark">
            <span>2</span>
          </div>
        </div>
        <div class="comm-main">
          Ужасно, думал скинут цену за ребенка до 200 рублей.
        </div>
        <div class="comm-photo">
          <div class="comm-photo-flex">
          </div>
        </div>
        <div class="comm-low">
          <div class="comm-info-flex">
            <div class="comm-user">
              <div class="comm-user-img-container">
                <img src="../../../static/img/icons/default_av.png" class="comm-user-img">
              </div>
              <div class="comm-date-container">
                <span>Миша Миша Михаил</span>
              </div>
            </div>
            <div class="comm-date">
              <span>4 марта 2024</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section id="comment-3">
    <div class="comm-box ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
      <div class="d-flex flex-column">
        <div class="comm-up">
          <div class="comm-square good-mark">
            <span>7</span>
          </div>
        </div>
        <div class="comm-main">
          Саамнительна, но ОКЭЙ
        </div>
        <div class="comm-photo">
          <div class="comm-photo-flex"></div>
        </div>
        <div class="comm-low">
          <div class="comm-info-flex">
            <div class="comm-user">
              <div class="comm-user-img-container">
                <img src="../../../static/img/icons/default_av.png" class="comm-user-img">
              </div>
              <div class="comm-date-container">
                <span>хз</span>
              </div>
            </div>
            <div class="comm-date">
              <span>19 февраля 2024</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="comment-4">
    <div class="comm-box ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
      <div class="d-flex flex-column">
        <div class="comm-up">
          <div class="comm-square no-mark">
            <span>-</span>
          </div>
        </div>
        <div class="comm-main">
          Не знаю что и сказать...
        </div>
        <div class="comm-photo">
          <div class="comm-photo-flex">
            <img src="../../../static/img/stolbi/введение.jpg" class="comm-photo-img" onclick="img_box(this)">
            <img src="../../../static/img/stolbi/summer.jpg" class="comm-photo-img" onclick="img_box(this)">
            </div>
        </div>
        <div class="comm-low">
          <div class="comm-info-flex">
            <div class="comm-user">
              <div class="comm-user-img-container">
                <img src="../../../static/img/icons/default_av.png" class="comm-user-img">
              </div>
              <div class="comm-date-container">
                <span>123</span>
              </div>
            </div>
            <div class="comm-date">
              <span>13 февраля 2024</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="comment-4">
    <div class="comm-box ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
      <div class="d-flex flex-column">
        <div class="comm-up">
          <div class="comm-square good-mark">
            <span>8</span>
          </div>
        </div>
        <div class="comm-main">
          Топчик
        </div>
        <div class="comm-photo">
          <div class="comm-photo-flex">
            <img src="../../../static/img/stolbi/введение.jpg" class="comm-photo-img" onclick="img_box(this)">
          </div>
        </div>
        <div class="comm-low">
          <div class="comm-info-flex">
            <div class="comm-user">
              <div class="comm-user-img-container">
                <img src="../../../static/img/icons/default_av.png" class="comm-user-img">
              </div>
              <div class="comm-date-container">
                <span>Настя 12 лет</span>
              </div>
            </div>
            <div class="comm-date">
              <span>2 марта 2024</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="write-comm">
    <div class="write-comm-container">
      <button class="write-comm-button">
        Написать комментарий
      </button>
    </div>
  </section>