
<article id="comments">
    <div class="comments-block ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-40px text-center">
      <div class="d-flex flex-column">
        <h1>Комментарии</h1>
        <div>
          <section id="comment-1">
            <div class="comm-box ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
              <div class="d-flex flex-column">
                <div class="comm-up">
                  <div class="comm-square good-mark">
                    <span>10</span>
                  </div>
                </div>
                <div class="comm-main">
                  Отдыхал несколько раз в Красноярске. Наверное, самое интересное, что мне запомнилось, это поход на столбы - одну из самых знаменитых достопримечательностей региона. К этому походу готовились очень тщательно, ведь предстоял нелегкий маршрут. Я себе установил на телефон карту местности, на всякий случай. Выбрали удобную одежду, запаслись едой и пошли в путь.
                </div>
                <div class="comm-photo">
                  <div class="comm-photo-flex">
                    <img src="../../../static/img/article-images/stolbi/введение.jpg" class="comm-photo-img" onclick="img_box(this)">
                    <img src="../../../static/img/article-images/stolbi/summer.jpg" class="comm-photo-img" onclick="img_box(this)">
                  </div>
                </div>
                <div class="comm-low">
                  <div class="comm-info-flex">
                    <div class="comm-user">
                      <!-- <img src="../../../static/img/icons/default_av.png" class="comm-user-img">
                      <span>Сергей Сергей</span> -->
                      <div class="comm-user-img-container">
                        <img src="../../../static/img/icons/default_av.png" class="comm-user-img">
                      </div>
                      <div class="comm-date-container">
                        <span>Сергей Сергей</span>
                      </div>
                    </div>
                    <div class="comm-date">
                      <span>22 февраля 2024</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section id="comment-2">
            <div class="comm-box ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
              <div class="d-flex flex-column">
                <div class="comm-up">
                  <div class="comm-square bad-mark">
                    <span>3</span>
                  </div>
                </div>
                <div class="comm-main">
                  Это ужас просто!
                </div>
                <div class="comm-photo">
                  <div class="comm-photo-flex">
                  </div>
                </div>
                <div class="comm-low">
                  <div class="comm-info-flex">
                    <div class="comm-user">
                      <div class="comm-user-img-container">
                        <img src="../../../static/img/icons/default_av.png" class="comm-user-img" onclick="window.location.href='../../../profile/html/index-ann.html';">
                      </div>
                      <div class="comm-date-container">
                        <span>Тестовая Аня</span>
                      </div>
                    </div>
                    <div class="comm-date">
                      <span>22 января 2024</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          
          <section id="comment-3">
            <div class="comm-box ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
              <div class="d-flex flex-column">
                <div class="comm-up">
                  <div class="comm-square average-mark">
                    <span>6</span>
                  </div>
                </div>
                <div class="comm-main">
                  Красноярские столбы удивительное, красивое место в России. Поражает высота скал, достигающие более 600 метров, хвойный, старинный лес полный различных зверей. Большое количество белок, снующих по тропинкам, высматривающих зернышки, которые туристы не жалея горстями накладывают в кормушки.Длинная тропа, по которой приходится пробираться к Столбам, уходящая высоко в гору, единственный минус этого заповедника. При подъеме со смешным названием «Пыхтун» понимаешь весь его смысл. Ставлю 6, потому что промок под дождем.
                </div>
                <div class="comm-photo">
                  <div class="comm-photo-flex">
                    <img src="../../../static/img/article-images/stolbi/введение.jpg" class="comm-photo-img" onclick="img_box(this)">
                    <img src="../../../static/img/article-images/stolbi/summer.jpg" class="comm-photo-img" onclick="img_box(this)">
                    <img src="../../../static/img/article-images/stolbi/введение.jpg" class="comm-photo-img" onclick="img_box(this)">
                    <img src="../../../static/img/article-images/stolbi/введение.jpg" class="comm-photo-img" onclick="img_box(this)">
                    <img src="../../../static/img/article-images/stolbi/введение.jpg" class="comm-photo-img" onclick="img_box(this)">
                    <img src="../../../static/img/article-images/stolbi/summer.jpg" class="comm-photo-img" onclick="img_box(this)">
                    <img src="../../../static/img/article-images/stolbi/введение.jpg" class="comm-photo-img" onclick="img_box(this)">
                    <img src="../../../static/img/article-images/stolbi/введение.jpg" class="comm-photo-img" onclick="img_box(this)">
                    <img src="../../../static/img/article-images/stolbi/введение.jpg" class="comm-photo-img" onclick="img_box(this)">
                    <img src="../../../static/img/article-images/stolbi/введение.jpg" class="comm-photo-img" onclick="img_box(this)">
                  </div>
                </div>
                <div class="comm-low">
                  <div class="comm-info-flex">
                    <div class="comm-user">
                      <div class="comm-user-img-container">
                        <img src="../../../static/img/icons/default_av.png" class="comm-user-img">
                      </div>
                      <div class="comm-date-container">
                        <span>Виталя Виталя</span>
                      </div>
                    </div>
                    <div class="comm-date">
                      <span>22 декабря 2023</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>