
:root {
    --header-footer: #203244;
    --background-main: #E9ECEF;
    --title-main: #D82D2D;
    --text-main: #212529;
    --dark-main: #9D1F1F;

    --guide-main: color-mix(in srgb, var(--text-main) 40%, #4CF15D);
    --dark-bacground: color-mix(in srgb, var(--header-footer) 20%, var(--background-main));
}

/* для footer */
html { 
    /* отступ - сумма отступов от header до main */
    height: calc(100% - 86px - 40px); 
}

body {
    /* для fotter */
    min-height:100%;
    position: relative;
    padding-bottom: 70px;

    color: var(--text-main);
    font-family: 'Roboto', sans-serif !important;
    font-size: 18px;
}

header, footer {
    background-color: var(--header-footer) !important;
}

h1 {
    color: var(--title-main) !important;
    margin-bottom: 30px !important;
}

p {
    text-align: start;
}

/* header */

.mr-auto {
    flex: 1;
    margin: auto !important;
    display: flex;
    justify-content: space-between;
    align-items: center !important;
}

.navbar-brand {
    padding: 0px !important;
}

nav.bg-custom,  footer.bg-custom{
    background-color: var(--header-footer);
}

li a {
    cursor: pointer;
}

#profile-img {
    border: 1px solid var(--title-main);
    cursor: pointer;
}

/* main */

div.grey-block {
    /* background-color: var(--background-main); */
    color: var(--text-main);
    border-radius: 5%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 14px;
    padding-bottom: 20px;

    background-color: var(--dark-bacground);
    border: 3px solid var(--guide-main)
}

.mb-40px {
    margin-bottom: 40px;
}

.mb-20px {
    margin-bottom: 20px;
}

/* profile-main-img */
  
.profile-main-img-container img {
    width: 100%;
    max-width: 640px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: 3px solid var(--title-main);
}

/* user-info */

.user-info-container, .guide-info-container {
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-style: italic;
    font-weight: 500;
}

.user-info-container ul, .guide-info-container ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.user-info-container li, .guide-info-container li {
    /* Убираем маркеры */
    list-style-type: none; 

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--background-main);
    gap: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.user-info-container li {
    border: 1px solid var(--title-main);
}

.guide-info-container li {
    border: 1px solid var(--guide-main);
}

.user-info-container li div, .guide-info-container li div {
    color: var(--dark-main);
    font-size: 20px;
}

.logout-container, .delete-container {
    text-align: center;
}

#logout-button, #delete-button {
    font-size: 26px;
    color: white;

    background-color: var(--title-main);
    border: 3px solid var(--header-footer);
    border-radius: 10%;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
}

/* footer */

/* #page-container {
    position: relative;
    min-height: 100vh !important;
} */

/* свои странности работы */
footer {
    height: 70px;

    /* для липкости */
    position: absolute;
    left: 0; right: 0; bottom: 0; 
}

footer a {
    color: white !important;
}

.bordered {
    border: 2px solid var(--title-main);
    border-radius: 20%;
}