
:root {
    --header-footer: #203244;
    --background-main: #E9ECEF;
    --title-main: #D82D2D;
    --text-main: #212529;
    --text-main: #212529;
    --dark-main: #9D1F1F;

    --button-background: color-mix(in srgb, var(--dark-background-20) 20%, var(--title-main));
    --form-background: color-mix(in srgb, white 45%, var(--title-main));

    --dark-background-20: color-mix(in srgb, var(--header-footer) 20%, var(--background-main));
    --dark-background-40: color-mix(in srgb, var(--header-footer) 40%, var(--background-main));
}

html {
    height: 100%;
}

body {
    color: var(--text-main);
    font-family: 'Roboto', sans-serif !important;
    font-size: 18px;

    background-image: url('../../../img/other/help-background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
    padding-top: 100px;
    padding-bottom: 100px;
}

h1, h2, h3, h4 {
    display: inline;
    color: var(--title-main);
}

a {
    cursor: pointer;
} a > div {
    text-decoration: underline !important;
}

p {
    text-align: start;
}

/* main */

div.grey-block {
    background-color: var(--dark-background-20);
    color: var(--text-main);
    border-radius: 5%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 14px;
    padding-bottom: 40px;

    border: 3px solid var(--dark-main)
}

.mb-40px {
    margin-bottom: 40px;
} .mb-30px {
    margin-bottom: 30px;
}.mb-20px {
    margin-bottom: 20px;
}
.g-10 {
    gap: 10px !important;
} .g-20 {
    gap: 20px !important;
} .g-30 {
    gap: 30px !important;
} 

.big-text {
    color: var(--title-main) !important;
    font-size: 20px !important;
} .small-text {
    color: var(--dark-main) !important;
    font-size: 16px !important;
} 

/* main-forms */

#form-title {
    position: relative;
} #form-title input {
    position: absolute !important;
    top: 0px;
    right: 0px;
}

#main-info > div {
    /* по умолчанию bootstrap выравнивает по центру */
    text-align: start !important;
}
.input-group {
    border: 1px solid var(--dark-main) !important;
} .input-group-prepend span {
    background-color: var(--form-background);
    width: 170px;
    font-weight: 500 !important;
    color: var(--main-title) !important;
} .form-check label {
    margin-bottom: 0px !important;
}

#button-confirm {
    width: unset !important;
    background-color: var(--button-background) !important;
    align-self: center;
    border: 3px solid var(--header-footer);
} #button-confirm h4 {
    color: white !important;
}
#bottom-form-text {
    width: 320px;
    text-align: start;
}

