{%extends '/article-pages/base_article.html'%}

{%block head_info%}
        <meta description='Article about Putorana Plateau, Krasnoyarsky Krai'>
{%endblock%}

    
{%block ARTICLES_introduction%}
      <div class="del_on_small">
        <img src="../../static/img/article-images/big_arctic/введение.jpg" class="img-intro">
        <p>
          На самых северных территориях края находится Большой Арктический заповедник — самый крупный заповедник на всей Евразии. Здесь бережно сохраняется природа Заполярья — заповедник представляет собой уникальную природную зону Арктики, где встречаются разнообразные природные явления. На территории заповедника доступны несколько видов отдыха: рыбалка, организация сплавов, этнографический туризм, наблюдение за птицами.
        </p>
      </div>
{%endblock%}

{%block ARTICLES_photos%}
                    <div class="carousel-item active">
                      <img src="../../static/img/article-images/big_arctic/water.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                      <img src="../../static/img/article-images/big_arctic/sunset.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                      <img src="../../static/img/article-images/big_arctic/light.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                      <img src="../../static/img/article-images/big_arctic/bear.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                      <img src="../../static/img/article-images/big_arctic/swamp.jpg" class="d-block w-100">
                    </div>
{%endblock%}

{%block ARTICLES_main_content%}
        <article id="navigation">
          <div class="grey-block ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
            <div class="d-flex flex-column">
              <h2>Навигация</h2>
              <ol class="nav-ol">
                <li>
                  <a href="#geography">География</a>
                </li>
                <li>
                  <a href="#climate">Климат</a>
                </li>
                <li>
                  <a href="#nature">Флора и фауна</a>
                </li>
                <li>
                  <a href="#history">История</a>
                </li>
              </ol>
            </div>
          </div>
        </article>

        <article id="geography">
        <div class="grey-block ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
          <div class="d-flex flex-column">
            <h2>География</h2>
            <p>Большой Арктический заповедник расположен в Таймырском Долгано-Ненецком районе на севере Красноярского края. Он покрывает полуостров Таймыр, острова и берега Карского моря и моря Лаптевых. </p>
            <p>Заповедник разделен на 7 участков, которые, в свою очередь, включают 34 отдельных кластера:</p>
            <p><b>1. Диксонско-Сибиряковский</b> — 183 тыс. га. Включает остров Сибирякова с прилежащими мелкими островами и небольшие участки «Бухта Медуза» и «Бухта Ефремова». Остров Сибирякова — крупный песчано-холмистый остров в Карском море на выходе из Енисейского залива.</p>
            <p><b>2. Острова Карского моря</b> — 371,8 тыс. га. В состав этого комплекса входит около десятка островов средних размеров и довольно много мелких островов: архипелаг Сергея Кирова, остров Воронина, острова Известий ЦИК, острова Арктического института, остров Свердрупа, остров Уединения и др.</p>
            <p><b>3. Пясинский</b> — 1067,2 тыс. га. Охватывает дельту реки Пясина, восточное побережье Пясинского залива, участки Таймыра к востоку от реки Пясина в бассейнах рек Хутудабига, Спокойная, Ленивая, западную часть берега Харитона Лаптева, шхеры Минина (мелкие скалистые острова), а также острова Плавниковые, Птичьи, остров Зверобой и др.</p>
            <p><b>4. Залив Миддендорфа</b> — 68,5 тыс. га. Охватывает побережье залива Миддендорфа в восточной части берега Харитона Лаптева. Включает также прилежащие острова и примерно половину бассейна реки Толевая.</p>
            <p><b>5. Архипелаг Норденшельда</b> — 507,7 тыс. га. Это самый большой (не считая Северной Земли) архипелаг островов в Карском море, состоящий из множества мелких, средних и нескольких крупных морских островов, включая прилежащие морские мелководья.</p>
            <p><b>6. Нижняя Таймыра</b> — 1874,1 тыс. га. Самый крупный кластер заповедника — охватывает низовья р. Нижняя Таймыра и бассейн её притока — реки Шренк, а также побережье Таймырского залива и залив Толля. Участок отличает большое ландшафтное разнообразие.</p>
            <p><b>7. Полуостров Челюскин</b> — 84,6 тыс. га. В состав участка входит побережье на северо-западе полуострова Челюскин, дельта реки Тессема, западное побережье залива Фаддея, острова Лишний и Гелланд-Гансена.</p>
          </div>
        </div>
        </article>

        <article id="climate">
        <div class="grey-block ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
          <div class="d-flex flex-column">
            <h2>Климат</h2>
            <p>На огромной территории Большого Арктического государственного природного заповедника преобладает многолетняя мерзлота. Основная территория заповедника относится к подзоне арктических тундр, а наиболее северные участки — к зоне арктических пустынь. Наиболее суровой зима бывает в районе острова Диксон, где дует сильный ветер при низкой температуре воздуха, которая достигает -60°C. Температура воздуха на северо-западе Таймыра и островов Карского моря летом достигает +5°C.</p>
            <p>Снег обычно покрывает тундру в конце августа — начале сентября, но устойчивый снежный покров образуется в середине-конце сентября. Бесснежный период наиболее продолжителен на острове Диксон (103—110 дней), дольше всего снег лежит на мысе Челюскин — 300 дней. Полный сход снега обычно происходит в конце июня — начале июля. Зимой преобладают ветры южных румбов (южные, юго-западные и юго-восточные), летом — северо-западные, северные и северо-восточные.</p>
            <p>Колебания средних многолетних годовых сумм осадков между станциями достигает 140 мм (летом — значительно меньше). Максимальное количество осадков (390-400 мм) выпадает на самом южном острове Диксон, вблизи которого длительное время сохраняется открытая вода. Минимальное количество осадков (259-270 мм) отмечается на расположенном в открытом море острове Уединения.</p>
          </div>
        </div>
        </article>

        <article id="nature">
          <div class="grey-block ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
            <div class="d-flex flex-column">
              <h2>Флора и фауна</h2>
              <h4>Растительность</h4>
              <br>
              <p>На территории Большого Арктического заповедника практически отсутствует растительность: лишайники и мхи занимают ничтожно малый процент поверхности, а деревья и кустарники вовсе отсутствуют.</p>
              <p>В западной части Большого Арктического заповедника представлены 162 вида высших растений, здесь растут злаки — 28 видов, капустные — 19 видов, гвоздичные — 16 видов, камнеломковые — 15 видов и осоковые — 13 видов. Цветковые растения представлены следующими видами: мак подушковидный, ароматная пария, золотистая новосиверсия, ярко-красная армерия морская. На территории острова Сибирякова растут 15 видов грибов, и 70 видов лишайников.</p>
              <p>Пясинский участок заповедника насчитывает 140 видов высших растений, злаков — 24 вида, капустных — 20 видов, камнеломковых — 17 видов, гвоздичных — 13 видов, лютиковых — 13 видов.</p>
              <p>Мыс Челюскин представлен 60 видами сосудистых растений. Здесь растут крупка — 5 видов и камнеломка — 10 видов. Среди мохообразных растут 23 вида печеночников и 74 вида листестебельных мхов, напочвенных лишайников — 125 видов.</p>
              <br>
              <h4>Животный мир</h4>
              <br>
              <p>Фауна Большого Арктического заповедника представлена относительно небольшим количеством видов животных, что является следствием сурового климата Арктического севера. Тем не менее, многие представители фауны занесены в Красную книгу России и Красную книгу Красноярского края.</p>
              <p>Птиц на землях заповедника очень много — 124 вида. Из них 6 видов занесены в Красную книгу (орлан-белохвост, краснозобая казарка, белохвостая гагара, кречет, сапсан и тундровый лебедь). Так, среди птиц здесь можно увидеть белую сову, сибирскую гагу, тундряную куропатку, белую и розовую чайку — эти виды живут в тундре практически круглый год.  Весной к ним прибавляются многотысячные стаи перелетных птиц: белолобый гусь, черная казарка, несколько видов северных куликов, белохвостый песочник, краснозобик, чернозобик.</p>
              <p>Фауна млекопитающих этого места насчитывает 18 видов, среди которых обитает северный олень, волк, песец, горностай, морж, овцебык, белый медведь. Самым популярным маленьким северным зверем из числа млекопитающих являются лемминги — группа подсемейства полёвковых семейства хомяков отряда грызунов. Также в водах Карского моря встречаются моржи, белухи, нерпы и лахтаки.</p>
              <p>В водоемах заповедника обитает 29 видов рыб, по большей части из семейств лососевых и сиговых. В пресных водах более всего распространены арктический голец, омуль, муксун и ряпушка, сибирский хариус, реже встречаются сиг, чир и сиг-валёк. В морских акваториях живет сайка – некрупная стайная рыба из семейства тресковых, полярная камбала, ледовитоморская рогатка. На территории заказника «Бреховские острова» много сибирского осетра, а также стерлядь, нельма и щука. В пойменных озерах живет пелядь.</p>
            </div>
          </div>
        </article>

        <article id="history">
        <div class="grey-block ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
          <div class="d-flex flex-column">
            <h2>История</h2>
            <div>
              <h4>1 Создание заповедника</h4>
              <br>
              <p>Образован постановлением Правительства Российской Федерации от 11 мая 1993 г. № 431 по предложению администрации Таймырского автономного округа. Кроме того, администрация округа образовала охранную зону «Бухта Медуза» общей площадью 3020 га и охранную зону «Бухта Ефремова» общей площадью 6530 га с ограничением в их границах любой деятельности, отрицательно влияющей на природные компоненты ландшафта. В ведении заповедника также находятся государственный природный заказник федерального значения «Североземельский» площадью 421 701 га и государственный природный заказник окружного значения «Бреховские острова» площадью 288 487 га.</p>
              <p>Основной целью создания заповедника является сохранение и изучение в естественном состоянии уникальных арктических экосистем, редких и исчезающих видов растений и животных, а также освоение северных окраин Земли и арктического океана. Нужно отметить, что дата рождения заповедника приурочена к юбилею: 150 лет назад самоотверженный географ Александр Миддендорф подробно исследовал и официально «открыл» Таймыр, до того остававшийся практически неведомой землей.</p>
              <p>С 20 марта 2013 г. заповедник вошел в состав ФГБУ «Заповедники Таймыра» вместе с Таймырским и Путоранским заповедниками.</p>
              <br>
              <h4>2 Добыча угля</h4>       
              <br>
              <p>В 2019 году, началась разработка таймырского угольного месторождения компанией «Востокуголь» на территории кластера «Бухта Медуза». В июле этого года было принято решение Минприроды по сокращению охраняемой территории, которое исключило территорию бухты из границ заповедника. Началом добычи угля послужило отступление льдов вследствие глобального потепления.</p>
              <p>По мнению экологов, добыча угля рядом с охраняемой территорией и его транспортировка морем серьезно вредит экологии заповедника. Угольная пыль с карьеров и портовых терминалов загрязняет тундру и морскую воду, что угрожает существованию многих видов животных и птиц. Также имеются опасения, что рост населения вблизи заповедника приведет к развитию браконьерства.</p>
            </div>
          </div>
        </div>
        </article>
{%endblock%}