{%extends '/article-pages/base_article.html'%}

{%block head_info%}
        <meta description='Article about Central Siberian Reserve, Krasnoyarsky Krai'>
{%endblock%}

    
{%block ARTICLES_introduction%}
      <div class="del_on_small">
        <img src="../../static/img/article-images/central_siberian/введение.jpg" class="img-intro">
        <p>
          Центральносибирский заповедник является одной из крупнейших в мире природных зон — его площадь превышает миллион гектаров! Заповедник призван сохранить таежные ландшафты и другие природные зоны, в том числе долины и поймы самой большой реки региона – Енисея. По берегам Столбовой и ее притокам можно встретить окаменелые морские отложения палеозойской эры: губки, кораллы, мшанки возрастом более 400 миллионов лет. А на Подкаменной Тунгуске находятся знаменитые Суломайские столбы, высота которых достигает 80 метров.
        </p>
      </div>
{%endblock%}

{%block ARTICLES_photos%}
                    <div class="carousel-item active">
                      <img src="../../static/img/article-images/central_siberian/river+stones.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                      <img src="../../static/img/article-images/central_siberian/stones.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                      <img src="../../static/img/article-images/central_siberian/beach.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                      <img src="../../static/img/article-images/central_siberian/river.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                      <img src="../../static/img/article-images/central_siberian/deers.jpg" class="d-block w-100">
                    </div>
{%endblock%}

{%block ARTICLES_main_content%}
        <article id="navigation">
          <div class="grey-block ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
            <div class="d-flex flex-column">
              <h2>Навигация</h2>
              <ol class="nav-ol">
                <li>
                  <a href="#geography">География</a>
                </li>
                <li>
                  <a href="#climate">Климат</a>
                </li>
                <li>
                  <a href="#nature">Флора и фауна</a>
                </li>
                <li>
                  <a href="#history">История</a>
                </li>
              </ol>
            </div>
          </div>
        </article>

        <article id="geography">
        <div class="grey-block ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
          <div class="d-flex flex-column">
            <h2>География</h2>
            <p>
              Центральносибирский заповедник — природный биосферный заповедник на территории Эвенкийского района Красноярского края. Расположен на западной окраине центральной части Средне-Сибирского плоскогорья и в долине среднего течения Енисея. Его площадь составляет 1 019 899 га. Это единственный в России заповедник, где на протяжении 60 км заповеданы оба берега великой реки Енисей. При этом река делит его территорию на 2 неравные части с различным ландшафтом (левый берег — равнины с пологими речными долинами и обширные территории болот, правый — Среднесибирское плоскогорье со скалами и горной тайгой). Заповедник также сохраняет часть акватории реки Подкаменная Тунгуска, а также бассейн чистейшей реки Столбовая.
            </p>
          </div>
        </div>
        </article>

        <article id="climate">
        <div class="grey-block ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
          <div class="d-flex flex-column">
            <h2>Климат</h2>
            <p>
              На заповедной территории господствует суровый климат. В первую очередь это относится к Среднесибирскому плоскогорью. Средняя температура воздуха в январе составляет -30 °С. В июле столбик термометра поднимается до +15,8 °С. Снежный покров высотой 80 см держится на протяжении 200 дней. Ежегодно на землях заповедника выпадает от 450 до 500 мм осадков. Долина Енисея характеризуется большим количеством дней с очень сильными ветрами. Летом наблюдаются дождевые паводки.
            </p>
          </div>
        </div>
        </article>

        <article id="nature">
          <div class="grey-block ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
            <div class="d-flex flex-column">
              <h2>Флора и фауна</h2>
              <h4>Растительность</h4>
              <br>
              <p>Растительность Средне-Сибирского плоскогорья характеризуется отчетливо выраженной высотной поясностью. Среднетаежные лиственнично-кедровые и лиственничные леса в нижнем поясе сменяются выше редкостойными кедрово-еловыми и пихтовыми. На вершинах высотой около 500 метров и выше встречаются фрагменты горных тундр и альпийские луговины. Лесообразующая порода — сибирский кедр, иногда сибирская ель. На территории заповедника распространена рябина сибирская.</p>
              <br>
              <h4>Животный мир</h4>
              <br>
              <p>Фауна Центральносибирского заповедника представлен 52 видами млекопитающих, 274 – птиц, 4 – пресмыкающихся, 3 – земноводных, 33 – рыб. Наиболее многочисленным видом является обыкновенная бурозубка. Распространен бурый медведь, а также Широко распространен соболь. Последний имеет большое значение для всей енисейской тайги как промысловый вид. Кроме того, на территории заповедника обитают следующие виды: северная пищуха, заяц-беляк, кабарга, северный олень, лось, росомаха, лесной лемминг, бурундук, белка, летяга.</p>
              <p>Из птиц распространены вьюрок, корольковая пеночка, пухляк и пятнистый конек. Также здесь можно встретить рябчика и кедровку. Для тайги характерен обыкновенный глухарь. Пойменные озера и болота стали местами обитания для кряквы, гоголя, шилохвости, свиязи, хохлатой чернети, чирка-свистунка.</p>
              <p>Земноводные представлены сибирским углозубом, серой жабой и остромордой лягушкой. Из пресмыкающихся в заповеднике обитают обыкновенная гадюка и живородящая ящерица. Из рыб распространены налим, голец, лещ щиповка, язь, пескарь, гольяны озерный и обыкновенный, елец, плотва, караси серебряный и золотой, щука, хариус, тугун, чир, пелядь, сиг речной, муксун, ряпушка, омуль, нельма и таймень.</p>
            </div>
          </div>
        </article>

        <article id="history">
        <div class="grey-block ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
          <div class="d-flex flex-column">
            <h2>История</h2>
            <div>
              <p>Первым упоминанием о создании заповедника в Центральной Сибири обычно считается первый проект географической сети заповедников России, созданный в 1917 году учёным, путешественником и натуралистом Вениамином Семёновым-Тян-Шанским — именно он назвал перспективным создание заповедника в бассейне правобережья Енисея и Подкаменной Тунгуски.</p>
              <p>Центральносибирский заповедник был организован в 1985 году на базе существовавшего тут ранее заказника. Он является первым заповедником в стране, который специально проектировался как биосферный, и спустя год после создания ему был присвоен статус биосферного резервата ЮНЕСКО. Основная цель его работы - сохранение и изучение очень разнообразных наземных и водных природных комплексов среднетаежной Сибири в ее центральной части, ландшафтов поймы и долины Енисея, самой реки и ее притоков.</p>
            </div>
          </div>
        </div>
        </article>
{%endblock%}