{%extends '/article-pages/base_article.html'%}

{%block head_info%}
        <meta description='Article about Kuturchinskoe Belogorie, Krasnoyarsky Krai'>
{%endblock%}


<!-- ! ГОТОВЫ РАЗДЕЛЫ ВВЕДЕНИЕ, ФОТО, ГЕОГРАФИЯ. нет информации по флоре и фауне, климате. ! -->

{%block ARTICLES_introduction%}
      <div class="del_on_small">
        <img src="../../static/img/article-images/kuturchinskoe_belogorie/введение.png" class="img-intro">
        <p>
          Кутурчинское Белогорье — большой горный хребет, который относится к системе Восточного Саяна. Он знаменит своими высокими скальными столбами, состоящими из гранитных пород и достигающими 50 метров в высоту. Местность здесь почти не тронута человеком, а с вершин гор можно полюбоваться впечатляющими видами на таежные леса и озера.
        </p>
      </div>
{%endblock%}

{%block ARTICLES_photos%}
                    <div class="carousel-item active">
                      <img src="../../static/img/article-images/kuturchinskoe_belogorie/siedge.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                      <img src="../../static/img/article-images/kuturchinskoe_belogorie/stone.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                      <img src="../../static/img/article-images/kuturchinskoe_belogorie/above.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                      <img src="../../static/img/article-images/kuturchinskoe_belogorie/autumn.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                      <img src="../../static/img/article-images/kuturchinskoe_belogorie/winter.jpg" class="d-block w-100">
                    </div>
{%endblock%}

{%block ARTICLES_main_content%}
        <article id="navigation">
          <div class="grey-block ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
            <div class="d-flex flex-column">
              <h2>Навигация</h2>
              <ol class="nav-ol">
                <li>
                  <a href="#geography">География</a>
                </li>
                <li>
                  <a href="#climate">Климат</a>
                </li>
                <li>
                  <a href="#nature">Флора и фауна</a>
                </li>
                <li>
                  <a href="#history">История</a>
                </li>
              </ol>
            </div>
          </div>
        </article>

        <article id="geography">
        <div class="grey-block ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
          <div class="d-flex flex-column">
            <h2>География</h2>
            <p>Кутурчинское Белогорье (Кутурчин) — это горных хребет, состоящий из двух частей в составе Восточного Саяна, расположенный между рекой Мана и ее правым притоком — рекой Мина. Его общая протяженность составляет около 40 км. Самая посещаемая часть находится выше зоны леса и представляет собой просторное плато с завораживающим круговым обзором. Здесь находятся скалы, известные как Манские или Кутурчинские Столбы, которые достигают 50 метров в высоту. Встречается много каменных осыпей — курумников. Другая часть – северная (Ивановский Белок) менее популярна для посещения, отличается россыпью столбов с высотой примерно до 27 м и более сложным рельефом.</p>
            <p>Максимальная высота — 1876 м, гора Алат — 1765 м.</p>
          </div>
        </div>
        </article>

        <article id="climate">
        <div class="grey-block ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
          <div class="d-flex flex-column">
            <h2>Климат</h2>
            <p>Климат на Кутурчинском Белогорье (как и на Восточном Саяне) резко континентальный — зима в горах продолжительная и суровая, лето короткое и прохладное. Также свойственна большая годовая амплитуда температур (разность между абсолютными максимумами и минимумами достигает 80–90 °С). В низкогорьях средние температуры января колеблются от −17 до −25 °C, средние температуры июля — от 12 до 14 °C.</p>
            <p>Преобладают западные и юго-западные ветры. Количество осадков — около 300 мм в год.</p>
          </div>
        </div>
        </article>

        <article id="nature">
          <div class="grey-block ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
            <div class="d-flex flex-column">
              <h2>Флора и фауна</h2>
              <p>Так как Кутурчинское белогорье расположено в пределах Восточного Саяна (восточная часть), то их флору и фауну можно считать общей.</p>
              <br>
              <h4>Растительность</h4>
              <br>
              <p>Ландшафты Восточного Саяна более чем наполовину горно-таёжные, значительной частью высокогорные. В горно-таёжном поясе присутствуют темнохвойные елово-пихтовые и светлохвойные лиственнично-кедровые леса. Выше 1500—2000 м расположена кустарниковая и мохово-лишайниковая каменистая горная тундра. Многочисленны каменистые осыпи и курумы.</p>
              <br>
              <h4>Животный мир</h4>
              <br>
              <p>Для фауны характерно преобладание таёжных животных, многие из которых летом заходят и в тундровый пояс (млекопитающие – бурый медведь, марал, кабарга, лось, росомаха, бурундук, белка, соболь, колонок, рысь; птицы – глухарь, тетерев, кедровка, белая куропатка; рыбы – таймень, гольян, хариус). К охраняемым видам животных относятся орлан-белохвост, сапсан, чёрный аист, беркут, лесной северный олень, снежный барс, красный волк. </p>
            </div>
          </div>
        </article>

        <article id="history">
        <div class="grey-block ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
          <div class="d-flex flex-column">
            <h2>История</h2>
            <div>
              <h4>1 Образование </h4>
              <br>
              <p>Плато Путорана образовалось 252 миллиона лет назад, на рубеже палеозоя и мезозоя. Тогда излилась огромная масса раскалённых базальтов, а в толще возникли тектонические разломы. Различия в их толщине привели к созданию ступенчатых склонов. Таким образом, в некоторых местах гор насчитывается до 40 слоёв!</p>
              <br>
              <h4>2 Исследование </h4>
              <br>
              <p>Первые путешественники, открывшие эту местность, прозвали хребет Белогорьями или белками, ведь на его вершинах никогда не тает снег. Белогорий со столбами выветривания в Восточном Саяне много, только в пределах Красноярского края имеются Идарское и Пезинское, Канское и Манское, Тукшинское и Койское и с десяток отдельных белков. Большинство топонимов белогорья были записаны туристом Юрием Лисовиком в 1970-x — 80-x годах</p>
              <p>Известно, что на Кутурчинском горном хребте в 1960-е гг. геолог Арсеньев обнаружил метеоритный или карстовый кратер. Геологоразведочная экспедиция, в которую он входил, занималась поисками золота, побочные вопросы не вызывали интереса, потому факт обнаружения кратера в то время был оставлен без внимания. Геологи, обнаружившие кратер, указали довольно размытые координаты этого места: междуречье Маны и Мины, 170 км от города Канска.</p>
              <br>
              <h4>3 Другие гипотезы происхождения</h4>       
              <br>
              <p>Хребет часто посещают адепты так называемой «теории мегалитов», и летом есть шанс встретить на плато их экспедиции, в чьи задачи входит выявление, съемка и описание объектов, якобы построенных руками человека. Приверженцами теории утверждается, что на месте скал располагался древнейший город — в некоторых столбах можно увидеть колонны и стены зданий. На альтернативных картах белогорья скалы-останцы обозначены как руины домов, храмов, крепостных стен, статуй богов, космодромов, ракетные шахты и т.д. Также по их теориям изначально на территории белогорья располагался вулкан, из магмы которого и образовались курумы.</p>
              <p>С ними спорят поклонники концепции о сибирской прародине славян. «Славянисты» утверждают что топонимика Кутурчина, в частности, горы Баян и Алат — прямая отсылка к праславянам.</p>
            </div>
          </div>
        </div>
        </article>
{%endblock%}