{%extends '/article-pages/base_article.html'%}

{%block head_info%}
        <meta description='Article about Putorana Plateau, Krasnoyarsky Krai'>
{%endblock%}

    
{%block ARTICLES_introduction%}
      <div class="del_on_small">
        <img src="../../static/img/putorana/введение.jpg" class="img-intro">
        <p>
          Плато Путорана можно назвать одним из самых красивых мест Красноярского края. Живописное плато вулканического происхождения недалеко от Норильска сформировалось примерно 10-12 миллионов лет назад. Его название переводится с юкагирского языка как «горы без вершин», что довольно точно описывает здешний ландшафт. Всё плато усеяно так называемыми столовыми горами с плоскими вершинами высотой до 1700 метров.
        </p>
      </div>
{%endblock%}

{%block ARTICLES_photos%}
                    <div class="carousel-item active">
                      <img src="../../static/img/putorana/greben.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                      <img src="../../static/img/putorana/above.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                      <img src="../../static/img/putorana/all-river.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                      <img src="../../static/img/putorana/waterfall.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                      <img src="../../static/img/putorana/winter.jpg" class="d-block w-100">
                    </div>
{%endblock%}

{%block ARTICLES_main_content%}
        <article id="navigation">
          <div class="grey-block ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
            <div class="d-flex flex-column">
              <h2>Навигация</h2>
              <ol class="nav-ol">
                <li>
                  <a href="#geography">География</a>
                </li>
                <li>
                  <a href="#climate">Климат</a>
                </li>
                <li>
                  <a href="#nature">Флора и фауна</a>
                </li>
                <li>
                  <a href="#landmarks">Достопримечательности</a>
                </li>
                <li>
                  <a href="#history">История</a>
                </li>
              </ol>
            </div>
          </div>
        </article>

        <article id="geography">
        <div class="grey-block ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
          <div class="d-flex flex-column">
            <h2>География</h2>
            <p>
              Путорана — сильно расчленённый горный массив (плато), расположенный на северо-западе Среднесибирского плоскогорья. На севере и западе плато обрывается крутым уступом (800 и более м), в то время как южная и восточная части характеризуются пологими склонами. Среди высочайших вершин Путорана — горы Камень (1701 м), Холокит (1542 м), Котуйская (1510 м). На севере плато Путорана граничит с Таймыром. Площадь плато составляет 250 тыс. км² (сравнима с территорией Великобритании). На территории плато расположен Путоранский заповедник, признанный ЮНЕСКО памятником Всемирного наследия. Административно плато расположено на северо-западе Красноярского края, занимая территорию Таймырского Долгано-Ненецкого и Эвенкийского муниципальных районов. Ближайшим крупным населённым пунктом является город Норильск.
            </p>
          </div>
        </div>
        </article>

        <article id="climate">
        <div class="grey-block ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
          <div class="d-flex flex-column">
            <h2>Климат</h2>
            <p>
              Условной южной границей плато Путорана является Северный полярный круг, поэтому район находится в зоне сурового, резко континентального климата, однако в отдельных озёрных долинах (например озеро Лама) имеется свой, значительно более мягкий микроклимат, защищённый от северных ветров. Полярный день летом постепенно сменяется на полярную ночь зимой. Весна, лето и осень укладываются в три месяца: июнь, июль, август, остальное время — зима с температурой до −40 °C. В самый тёплый месяц (июль) температура воздуха достигает +16 °C. Осадков выпадает 500—800 мм, преимущественно летом, зимой снежный покров невелик.
            </p>
          </div>
        </div>
        </article>

        <article id="nature">
          <div class="grey-block ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
            <div class="d-flex flex-column">
              <h2>Флора и фауна</h2>
              <h4>Растительность</h4>
              <br>
              <p>Территория плато находится на границе тайги и тундры. Здесь происходит чередование самых разнообразных ландшафтов: суровые горные тундры расположены рядом с лиственничным редколесьем, а заросли кустарников — с еловыми лесами. На вершинах гор находится зона арктических каменистых пустынь с небольшими участками ледников. Растительность представлена лиственнично-еловыми лесами в долинной части плато, редколесьем и кустарниковой тундрой на верхних участках склонов и поверхности плато.</p>
              <br>
              <h4>Животный мир</h4>
              <br>
              <p>Через территорию плато пролегает миграционный путь крупнейшей в Евразии таймырской популяции дикого северного оленя.  Здесь обитают бурый медведь и волк. В горной тундре водятся снежные бараны-толстороги. Для их защиты и сохранения создавался Путоранский заповедник. Они считаются редчайшими животными, которых в России можно встретить еще лишь на хребтах Камчатки. Есть здесь и редкие птицы: белокрылый кречет и подкаменный глухарь. В чистой речной воде много рыбы, в том числе здесь обитают таймень, сибирский хариус, омуль. </p>
            </div>
          </div>
        </article>

        <article id="landmarks">
          <div class="grey-block ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
            <div class="d-flex flex-column">
              <h2>Достопримечательности</h2>
              <h4>Водопады</h4>
              <br>
              <p>По количеству водопадов Путорана занимает первое место в России. На плато находятся верховья рек Курейка (бассейн Енисея), Пясина, Хета, Котуй, Иркинда, а также правых притоков Нижней Тунгуски (бассейн Енисея). Реки, пробивая себе дорогу через многослойные породы, образуют глубокие каньоны, пороги и водопады.</p>
              <p>Здесь же находится и самый высокий водопад России (а по некоторым утверждениям, и Евразии) — <b>Тальниковый</b>, высотой около 600 метров.</p>
              <img src="../../static/img/putorana/_talnikovy.jpg" title="Тальниковский водопад" class="landmark-img" >
              <br>
              <h4>Озера</h4>
              <br>
              <p>Плато включает в себя множество озер — около 25 тысяч! Среди них можно выделить несколько особо интересных для посещения водоемов.</p>
              <p><b>Озеро Глубокое</b> называют воротами плато. Его западный край находится в низменности, а дальний — восточный — располагается в горах. Даже в летнее время на побережье и водной глади можно увидеть нерастаявший лед.</p>
              <img src="../../static/img/putorana/_glubokoe.jpg" title="Озеро Глубокое" class="landmark-img" >  
              <p><b>Чистейшее озеро Лама</b> (120 км от Норильска) является одним из самых глубоких и рыбных озер России. На языке тунгусов и эвенков название озера означает «море» или «большая вода». По оценке ученых, возраст озера — около 100 млн лет. Его окрестности считаются одним из красивейших мест Красноярского края; озеро окружено сопками плата со всех сторон</p>
              <img src="../../static/img/putorana/_lama.jpg" title="Озеро Лама" class="landmark-img" >
              <p><b>Хантайское озеро</b> — самое крупное и глубокое. Из-за разгула ветров здесь царит штормовая погода. В сентябре она бывает чаще, чем штиль.</p>
              <img src="../../static/img/putorana/_khantaiskoe.jpg" title="Озеро Хантайское" class="landmark-img" >
              <p><b>Озеро Виви</b> утверждено в качесве географического центра России. Оно является пресноводным, богато рыбой.</p>
              <img src="../../static/img/putorana/_vivi.jpg" title="Озеро Виви" class="landmark-img" >
            </div>
          </div>
        </article>

        <article id="history">
        <div class="grey-block ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
          <div class="d-flex flex-column">
            <h2>История</h2>
            <div>
              <h4>1 Образование плато</h4>
              <br>
              <p>Плато Путорана образовалось 252 миллиона лет назад, на рубеже палеозоя и мезозоя. Тогда излилась огромная масса раскалённых базальтов, а в толще возникли тектонические разломы. Различия в их толщине привели к созданию ступенчатых склонов. Так в некоторых местах гор можно насчитать до 40 слоёв!</p>
              <br>
              <h4>2 Исследования</h4>
              <br>
              <p>Коренным населением Путорана считаются эвенки и долганы. Следами их пребывания являются статуи из ствола лиственницы, однако поселения этих народов в этом регионе отсутствуют.</p>
              <p>Плато Путорана впервые исследовано и научно описано российским исследователем А. Ф. Миддендорфом (1815—1894) в 1844 году. В память о нём в 1902 году предлагалось назвать горы хребтом Миддендорфа. Название «Путорана» впервые нанёс на карту Н. Н. Урванцев, услышав его от проводника Эльбея в экспедиции 1921 года.</p>
              <br>
              <h4>3 Развитие</h4>       
              <br>
              <p>В 1938 году на озеро Лама для лесозаготовок привезли первых заключённых, но директор комбината быстро разглядел в озере рекреационный потенциал и приказал организовать на Ламе зону отдыха для работников Норильского комбината. Уже летом 1939 года параллельно строящемуся дому отдыха был разбит палаточный пионерский лагерь. В 1944 году здесь появился первый деревянный санаторий на 40 семей, спроектированный архитектором Фёдором Усовым.</p>
              <p>Впоследствии на Плато Путорана были произведены подземные ядерные взрывы в целях создания подземных емкостей-газохранилищ</p>
            </div>
          </div>
        </div>
        </article>
{%endblock%}