{%extends '/article-pages/base_article.html'%}

{%block head_info%}
        <meta description='Article about Taimyr reserve, Krasnoyarsky Krai'>
{%endblock%}

    
{%block ARTICLES_introduction%}
      <div class="del_on_small">
        <img src="../../static/img/article-images/taimyr/введение.jpg" class="img-intro">
        <p>
         Таймырский государственный природный заповедник является одним из самых больших заповедников России. Это место с суровым климатом (снег здесь может пойти даже летом), однако красивая, уникальная арктическая природа всё равно привлекает туристов из России и других стран. На территории Таймырского заповедника живут овцебыки, белые медведи, множество арктических птиц и других животных. По заповеднику проходят пешие маршруты, возможна организация сплавов по северным рекам, а также в некоторых водоемах заповедника разрешена рыбалка. В границах заповедника действует несколько музеев, среди которых, например, посвященные вымершим животным Арктики экспозиции.
        </p>
      </div>
{%endblock%}

{%block ARTICLES_photos%}
                    <div class="carousel-item active">
                      <img src="../../static/img/article-images/taimyr/muskoxes.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                      <img src="../../static/img/article-images/taimyr/forest.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                      <img src="../../static/img/article-images/taimyr/autumn.png" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                      <img src="../../static/img/article-images/taimyr/deers.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                      <img src="../../static/img/article-images/taimyr/winter.jpg" class="d-block w-100">
                    </div>
{%endblock%}

{%block ARTICLES_main_content%}
        <article id="navigation">
          <div class="grey-block ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
            <div class="d-flex flex-column">
              <h2>Навигация</h2>
              <ol class="nav-ol">
                <li>
                  <a href="#geography">География</a>
                </li>
                <li>
                  <a href="#climate">Климат</a>
                </li>
                <li>
                  <a href="#nature">Флора и фауна</a>
                </li>
                <li>
                  <a href="#history">История</a>
                </li>
              </ol>
            </div>
          </div>
        </article>

        <article id="geography">
        <div class="grey-block ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
          <div class="d-flex flex-column">
            <h2>География</h2>
            <p>Территория заповедника находится в Красноярском крае в северо-восточной части полуострова Таймыр. Площадь заповедника составляет 1 781 536 га.</p>
            <p>Заповедник представляет собой 4 обособленные территории и заказник «Бикада», который примыкает к озеру Таймыр с востока. Наибольшая часть — участок «Логатский» или «Основная тундровая территория», находится на юго-западе от озера Таймыр. Участки «Ары-Мас» и «Лукунский» — самые посещаемые, расположены южнее, и представляют собой зоны лесотундры. «Арктический» участок тянется вдоль побережья моря Лаптевых и включает в себя знаменитую бухту Прончищевой с лежбищами моржей. В районе зоны «Бикада» расположились горы Бырранга.</p>
            <p>Территория Таймырского заповедника находится в природной зоне тундры и лесотундры в сплошной многолетней мерзлоте. Участок «Арктический» находится в зоне полярных пустынь. На территории заповедника много водоёмов, в их числе довольно крупная река Верхняя Таймыра протяжённостью около 570 км. А юго-западней большое арктическое озеро Таймыр. Они разнообразят унылый тундровый ландшафт и создают условия для жизни водных растений и животных.</p>
          </div>
        </div>
        </article>

        <article id="climate">
        <div class="grey-block ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
          <div class="d-flex flex-column">
            <h2>Климат</h2>
            <p>На территории заповедника отмечается резко континентальный климат, характерны продолжительные холодные зимы, сменяющиеся коротким летом (нередко с температурами ниже 0°C). Период с устойчивым снежным покровом составляет 250 дней, а глубина покрова варьируется в среднем от 40 до 70 см. Полярная ночь здесь длится ±65 суток, полярный день — 83, что так же сказывается на формировании климата. Годовая сумма осадков — 256,7 мм.</p>
            <p>Особенности рельефа способствуют беспрепятственному прохождению холодных арктических воздушных масс в любое время года, поэтому средняя температура июля в южной части заповедника разнится в зависимости от зон — +12,3°C в Ары-Масе, +6,5°C на озере Таймыр и около +4°C на арктическом участке. Февральские температурные показатели соответственно составляют -33°C рядом с Хатангой, -40°C на основном участке резервата и -45°C в бухте Прончищевой. Таким образом, среднегодовые температуры являются отрицательными: -13,4°C, -14,5°C, -14,0°C. Годовая амплитуда температур — 40–45°C, абсолютные минимумы в различных частях заповедника зафиксированы от -57°С до -62°С.</p>
          </div>
        </div>
        </article>

        <article id="nature">
          <div class="grey-block ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
            <div class="d-flex flex-column">
              <h2>Флора и фауна</h2>
              <h4>Растительность</h4>
              <br>
              <p>На территории заповедника произрастают 430 видов высших сосудистых растений, 223 вида мхов и 265 — лишайников.</p>
              <p>Облик Таймырского заповедника определяют тундры — яркие и обильные летом, суровые и безрадостные зимой, арктические. По этой причине в кустарниково-моховых тундрах на возвышенных местах обычны участки голого грунта. Южнее распространены кустарниково-моховые и кочкарные тундры, встречаются островки кустарниковых тундр, занятых ёрником и кустарниковыми ивами. Много болот разного происхождения. В высоких, сглаженных горах Бырранга, которые заходят в заповедник по левобережью Верхней Таймыры, есть вкрапления арктических пустынь. Эта часть самая суровая.</p>
              <p>Лесотундра представлена двумя участками: Ары-Мас и Лукунский лес. Там растут продвинувшиеся далеко на север даурские лиственницы</p>
              <br>
              <h4>Животный мир</h4>
              <br>
              <p>В заповеднике отмечен 21 вид млекопитающих. Существует самое крупное в мире стадо дикого северного оленя. В 70-е годы XX века в таймырской тундре начали эксперимент по расселению овцебыка. Теперь около 8 тысяч этих животных, первые особи которых были завезены из Канады и США, расселились по восточному Таймыру.</p>
              <p>Встречено 116 видов птиц, 74 из них гнездятся, в реках и озёрах водится свыше 15 видов рыб. Здесь водятся лососёвые, в основном семейства сигов — чир, нельма, муксун, ряпушка, сиг ледовитоморский, омуль; в озёрах встречаются гольцы. Распространены также налим, хариус сибирский, пелядь, корюшка сибирская.</p>
              <p>В заповеднике много водных птиц — гусь-гуменник, гага-гребенушка, тундровый лебедь, чернозобая и полярная гагары, краснозобая казарка, различные кулики и чайки. На крутых обрывистых берегах рек гнездятся хищники — сокол-сапсан, канюк-зимняк, белая сова.</p>
            </div>
          </div>
        </article>

        <article id="history">
        <div class="grey-block ml-sm-3 mr-sm-3 ml-md-4 mr-md-4 ml-lg-5 mr-lg-5 mb-20px text-center">
          <div class="d-flex flex-column">
            <h2>История</h2>
            <div>
              <p>История создания Таймырского заповедника длительна и сложна. Более 40 лет потребовалось, чтобы реализовать планы проектировщиков.</p>
              <br>
              <h4>1 Первая попытка организации заповедника</h4>
              <br>
              <p>Еще в рабочих планах развития заповедной сети главного управления по заповедникам значился крупнейший (1млн га) Таймырский заповедник. Намечалась и дата его создания – 1949 год, но война помешала осуществлению этого проекта и немного отсрочила его реализацию.</p>
              <p>После войны на Таймыр отправилась большая комплексная экспедиция, в состав которой входили видные, известные ученые – исследователи профессоры Б.А. Тихомиров и В.М. Сдобников. С первых лет работы в Арктике Тихомирова интересовали вопросы истории флоры и растительности Крайнего Севера, а его наблюдения отражались в статьях и монографиях, опубликованных в последующие годы. Спустя некоторое время Б.А.Тихомиров и В.М.Сдобников по своей инициативе представили главному управлению заповедников при Совете Министров РСФСР объемистую докладную записку, которая стала первым проектом к созданию Таймырского заповедника. В ней отмечали необходимость взятия под охрану территории будущего заповедника для сохранения северной природы комплекса, а главным образом, озера Таймыр - крупнейшего полярного водоема. Здесь гнездились не пуганые птицы, нерестилась ценная рыба, бродили северные олени.</p>
              <p> Точные границы будущего заповедника в докладной записке не указывались, но по замыслу авторов он был огромен – свыше 10 млн. га, почти 10-я часть всего полуострова. О таких громадных масштабах территории заповедника мечтал и великий русский ученый, путешествовавший на Таймыре в 1843 году А.Ф. Миддендорф, давший название полуострову Таймыр.</p>
              <br>
              <h4>2 Создание заповедника</h4>
              <br>
              <p>Второй проект заповедника разрабатывался под руководством корреспондента Академии наук СССР, известного ботаника Е.П. Лавренко. Заповедник «Таймырский» намечался в районе озера Таймыр, площадью около 1 миллиона гектар по проекту первых авторов.</p>
              <p>По истечении десяти лет, ученые вновь заговорили о создании заповедника на Таймыре. В 1966 году директор НИИСХ Крайнего Севера МСХ РСФСР П.Н.Востриков и старший научный сотрудник М.Х.Геллер вновь предложили создать заповедник в Таймырском национальном округе, но уже не в районе озера Таймыр, а в западной его части в междуречье рек Пуры и Пясины к северу от речки Агапы. Так возникли два основных варианта создания заповедника на Таймырском полуострове: прежний – восточный, в районе озера Таймыр – и западный.</p>
              <p>Специалистам было поручено проектирование Таймырского заповедника. Научным руководителем Ф.Р.Штильмарк, для которого это была не первая поездка, связанная с устройством нового заповедника. На состоявшемся совещании в Красноярске идею поддержал начальник Красноярского территориального геологического управления. После еще нескольких выступлений, было принято решение признать целесообразность создания заповедника в таймырском национальном округе.</p>
              <p>В июле 1975 года Таймырский и Красноярский исполкомы направили в Совет министров РСФСР ходатайство об организации заповедника и заказника, но положительного результата получено не было. Таймырский заповедник был исключен из списка заповедников создаваемых в текущей пятилетке.</p>
              <p>В декабре 1978 года ЦК КПСС и Совет министров СССР вынесли постановление о дополнительных мерах по усилению охраны природы и улучшению использования природных ресурсов. В ответ на это, наконец,  23 февраля 1979 года Совет Министров РСФСР постановил организовать государственный Таймырский заповедник Главохоты РСФСР общей площадью 1 348 316 гектаров – самый крупный в мире в те годы.</p>
              <br>
              <h4>3 Дальнейшее развитие заповедника</h4>       
              <br>
              <p>Парку свойственен кластерный характер. Заповедник состоит из четырех участков («Основная тундровая территория», «Лукунский», «Ары-Мас», «Арктический»), расположенных в Хатангском и Диксонском районах Таймырского Долгано-Ненецкого муниципального района Красноярского края.</p>
              <p>В 1994 году к его территории присоединили зону «Бикада», которая до этого использовалась для охраны и оптимальной акклиматизации овцебыка. Нужно отметить, что эксперимент этот прошел успешно. Начатый еще в 1974 году норильскими учеными во главе с Григорием Якушкиным, эксперимент стартовал с завоза на Таймыр около 20 овцебыков. Животные прижились и освоили новые места. По сей день в удаленных местах за таймырскими овцебыками наблюдают с помощью автоматизированной идентификационной системы.</p>
              <p>В 1995 заповеднику был присвоен статус биосферного. А с 20 марта 2013 г. заповедник вошел в состав ФГБУ «Заповедники Таймыра» вместе с Большим Арктическим и Путоранским заповедниками.</p></p>
            </div>
          </div>
        </div>
        </article>
{%endblock%}