:root {
    --header-footer: #203244;
    --background-main: #E9ECEF;
    --title-main: #D82D2D;
    --dark-main: #9D1F1F;
    --text-main: #212529;
    --text-main: #212529;

    --admin-color: #4682B4;
    --dark-background-20: color-mix(in srgb, var(--header-footer) 20%, var(--background-main));
    --empty-field: color-mix(in srgb, var(--dark-background-20) 20%, white);
}

body {
    color: var(--text-main);
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
}

header, footer {
    background-color: var(--header-footer) !important;
}

h1, h2 {
    color: var(--title-main) !important;
    margin-bottom: 30px !important;
}

h3, h4 {
    text-align: start;
}

p {
    text-align: start;
}

i {
    font-size: 20px;
    opacity: .7;
}

/* header */
.mr-auto {
    flex: 1;
    margin: auto !important;
    display: flex;
    justify-content: space-between;
    align-items: center !important;
}

.navbar-brand {
    padding: 0px !important;
}

nav.bg-custom,  footer.bg-custom{
    background-color: var(--header-footer);
}

.comm-box .comm-photo .comm-photo-flex .comm-photo-img, .nav-item {
    cursor: pointer;
}

/* main */

.mb-40px {
    margin-bottom: 40px;
}

.mb-20px {
    margin-bottom: 20px;
}

/* introduction */

/* запрос против слишком большого изображения */
@media only screen and (min-width: 1200px) {
    
    .del_on_small img {
        width: 25% !important;
    }
}

@media only screen and (max-width: 750px) {

    .del_on_small {
        flex-direction: column !important;
    }
    
    .del_on_small img {
        width: 100% !important;
        margin-bottom: 5% !important;
    }
}

.img-intro {
    object-fit: cover;
    height: 100%;
}

div.grey-block {
    background-color: var(--background-main);
    color: var(--text-main);
    border-radius: 5%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 14px;
    padding-bottom: 30px;
}

.del_on_small {
    display: flex; 
    flex-direction: row;
}

.del_on_small img {
    width: 45%;
    margin-right: 5%;
}

/* photo */

.carousel-item, .img-intro {
    border: 2px solid var(--title-main);
}

/* navigation */

/* работает только вместе */
.nav-ol li {
    text-align: start !important;
}
#navigation li {
    text-align: start !important;
}

.nav-ol li a {
    font-size: 20px !important;
    color: var(--title-main) !important;
    text-decoration: underline !important;
    opacity: 1.0;
}

.nav-ol li a:hover {
    opacity: 0.5 !important;
}

/* comments */

.exit-btn {
    position: absolute;
    right: 10px;
    border: 2px solid var(--title-main);
    border-radius: 15%;
    padding: 5px;
    background-color: white;
} .exit-btn:hover {
    border: 3px solid var(--dark-main);
}

div.comments-block {
    color: var(--text-main);
    padding-top: 30px;
}

div.comm-box {
    background-color: var(--background-main);
    color: var(--text-main);
    border-radius: 5%;
    border: 1px solid var(--title-main);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.comm-box .d-flex {
    gap: 10px;
    text-align: start;
}

.comm-box .comm-up {
    height: 40px;
    margin: auto;
}

.comm-box .comm-up .comm-square {
    width: 50px;
    height: 100%;
    border: 1px solid var(--text-main);
    border-radius: 20%;

    color: black;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.comm-box .comm-up .comm-square span {
    display: inline-block;
    vertical-align: middle;
}

.comm-box .comm-photo {
    margin-bottom: 5px;
}

.comm-box .comm-photo .comm-photo-flex {
    display: flex;
    align-items: start;
    flex-flow: row;
    flex-wrap: wrap;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
}

.comm-box .comm-photo .comm-photo-flex .comm-photo-img {
    display: inline-block;
    border: 1px solid var(--text-main);
    height: 50px;
    cursor: pointer;
}

.comm-box .comm-low {
    height: 35px;
}

.comm-box .comm-low .comm-info-flex {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.comm-box .comm-low .comm-info-flex .comm-user, .comm-date {
    display: inline-block;
    height: 100%;
}

.comm-box .comm-low .comm-info-flex .comm-user {
    display: flex;
    align-items: center;
    gap: 5px;
}

.comm-box .comm-low .comm-info-flex .comm-user .comm-user-img-container {
    height: 35px;
    width: 35px;
}

.comm-box .comm-low .comm-info-flex .comm-user .comm-user-img-container .comm-user-img {
    object-fit: fill;
    height: 34px;
    width: 34px;
    border: 1px solid var(--text-main); 
} .comm-admin-img {
    object-fit: fill;
    height: 34px;
    width: 34px;
    border: 2px solid var(--admin-color); 
}

.comm-box span {
    opacity: .7;
}

.good-mark {background-color: #4CF15D;}
.average-mark {background-color: #F1E14C;}
.bad-mark {background-color: #F14C4C;}
.no-mark {background-color: var(--empty-field);}

.write-comm-container {
    text-align: center;
}

#write-comm-button {
    font-size: 20px;
    color: white;

    background-color: var(--title-main);
    border: 3px solid var(--header-footer);
    border-radius: 10%;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

/* footer */

footer {
    height: 70px;
}

footer a {
    color: white !important;
}

.bordered {
    border: 2px solid var(--title-main);
    border-radius: 20%;
}