:root {
    --header-footer: #203244;
    --background-main: #E9ECEF;
    --title-main: #D82D2D;
    --text-main: #212529;
    --text-main: #212529;
    --dark-main: #9D1F1F;
}

/* для footer */
html { 
    height: 100%
}

body {
    /* для fotter */
    min-height:100%;
    position: relative;
    padding-bottom: 70px;

    color: var(--text-main);
    font-family: 'Roboto', sans-serif !important;
    font-size: 18px;

    background-image: url('../../img/other/help-background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

header, footer {
    background-color: var(--header-footer) !important;
}

h1 {
    color: var(--title-main) !important;
    margin-bottom: 30px !important;
}

p {
    text-align: start;
    padding: 0px;
}

/* header */

.mr-auto {
    flex: 1;
    margin: auto !important;
    display: flex;
    justify-content: space-between;
    align-items: center !important;
}

.navbar-brand {
    padding: 0px !important;
}

nav.bg-custom,  footer.bg-custom{
    background-color: var(--header-footer);
}

li a {
    cursor: pointer;
}

/* ЭТО, ЕСЛИ ВЫПОЛНЕН ВХОД В АККАУНТ */
/* #profile-img {
    border: 1px solid var(--title-main);
} */

/* main */

div.grey-block {
    background-color: var(--background-main);
    color: var(--text-main);
    border-radius: 5%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.product, .offer {
    border-radius: 10px;
}

/* contacts */

.about_site_text {
    font-style: italic;
    font-weight: 500;
}

.name_of_the_site, b {
    font-size: 18px;
}

.name_of_the_site {
    color: var(--title-main)
}

/* footer */

/* #page-container {
    position: relative;
    min-height: 100vh !important;
} */

/* свои странности работы */
footer {
    height: 70px;

    /* для липкости */
    position: absolute;
    left: 0; right: 0; bottom: 0; 
}

footer a {
    color: white !important;
}

.bordered {
    border: 2px solid var(--title-main);
    border-radius: 20%;
}